<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        label{
            display: inline-block;
            margin-bottom: 10px;
        }
        label > span{
            display: inline-block;
            width: 70px;
        }
        a{
            text-decoration: none;
            border: 1px solid black;
            padding: 10px 30px;
            display: inline-block;
            color: #000;
        }
        a:hover{
            background-color: #666;
            color: #fff;
        }
    </style>
</head>
<body>
    <a href="/variants">show variants</a>
    <a href="/stat">show stat</a>

</body>
</html>